<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main1">
        <div class="nav">
            <div id="container">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Student Services</a>
                        <!-- First Tier Drop Down -->
                        <ul>
                            <li><a href="#">Career Guidance</a></li>
                            <li><a href="#">Career Assesment test</a></li>
                            <li><a href="#">NTSE Preparation</a></li>
                            <li><a href="#">International Educational Loan</a></li>
                            <li><a href="#">Academy courses</a></li>
                        </ul>        
                        </li>
                        <li><a href="#">Scholarship</a>
                        <ul>
                            <li><a href="/allcourses">All Scholarships</a>
                            <ul>
                                <li><a href="/allcourses">All Scholarships</a></li>
                                <li><a href="#">Live application form</a></li>
                                <li><a href="#">Other</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Category</a>
                                <ul>
                                    <li><a href="/allcourses/st-sc-obc">ST/SC/OBC</a></li>
                                    <li><a href="/allcourses/minority">Minority</a></li>
                                    <li><a href="/allcourses/girls">Girls</a></li>
                                    <li><a href="/allcourses/physically-disabled">Physically Disabled</a></li>
                                </ul>
                            </li>
                            <li><a href="#">State</a>
                                <ul>
                                    <li><a href="/subcourses/international">International</a></li>
                                    <li><a href="/subcourses/allindia">All India</a></li>
                                    <li><a href="/allcourses/west-bengal">West Bengal</a></li>
                                    <li><a href="/allcourses/uttar-pradesh">Uttar Pradesh</a></li>
                                    <li><a href="/allcourses/bihar">Bihar</a></li>
                                    <li><a href="/allcourses/madhya-pradesh">Madhya Pradesh</a></li>
                                    <li><a href="/allcourses/andhra-pradesh">Andhra Pradesh</a></li>
                                    <li><a href="/allcourses/maharashtra">Maharashtra</a></li>
                                    <li><a href="/allcourses/karnataka">Karnataka</a></li>
                                    <li><a href="/allcourses/rajasthan">Rajasthan</a></li>
                                    <li><a href="/allcourses/gujarat">Gujarat</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Current class</a>
                                <ul>
                                    <li><a href="/allcourses/c1-10">Class 1 to 10</a></li>
                                    <li><a href="/allcourses/c11-12">Class 11 & 12</a></li>
                                    <li><a href="/allcourses/polytechnic-diploma-iti">Polytechnic/Diploma/ITI</a></li>
                                    <li><a href="/allcourses/graduation">Graduation</a></li>
                                    <li><a href="/allcourses/post-graduation">Post Graduation</a></li>
                                    <li><a href="/allcourses/phd-postal-doctral">PhD/Post Doctral</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Type</a>
                                <ul>
                                    <li><a href="/allcourses/merit-based">Merit Based</a></li>
                                    <li><a href="/allcourses/income-based">Income Based</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">International</a>

                                <ul>
                                    <li><a href="/allcourses/united-states">United States</a></li>
                                    <li><a href="/allcourses/australia">Australia</a></li>
                                    <li><a href="/allcourses/new-zealand"></a>New-Zealand</li>
                                    <li><a href="/allcourses/canada">Canada</a></li>
                                    <li><a href="/allcourses/malaysia">Malaysia</a></li>
                                    <li><a href="/allcourses/united-kingdom">United-Kingdom</a></li>
                                    <li><a href="/allcourses/france">France</a></li>
                                    <li><a href="/allcourses/germany">Germany</a></li>
                                    <li><a href="/allcourses/ireland">Ireland</a></li>

                                    <li><a href="/subcourses/international"><u>view more</u></a></li>
                                </ul>
                            </li>
                            <li><a href="#">Government</a>
                                <ul>
                                    <li><a href="/allcourses/nspnatioanalmeanscummeritscholarshipsscheme">nsp-natioanal-means-cum-merit-scholarships-scheme</a></li>
                                    <li><a href="/allcourses/nsppostmatricscholarshipsschemeforminorities">nsp-post-matric-scholarships-scheme-for-minorities</a></li>
                                    <li><a href="/allcourses/nspprematricscholarshipsschemeforminorities">nsp-pre-matric-scholarships-scheme-for-minorities</a></li>
                                    <li><a href="/allcourses/nspcentralsectorschemeofscholarshipforcollege">nsp-central-sector-scheme-of-scholarship-for-college</a></li>
                                    <li><a href="/allcourses/nsptopclasseducationforscstudents">nsp-top-class-education-for-sc-students</a></li>
                                    <li><a href="/allcourses/specialscholarshipschemeishanudayforner">special-scholarship-scheme-ishan-uday-for-ner</a></li>
                                    <li><a href="/allcourses/postgraduateindiragandhischolarshipforsinglegirlchild">post-graduate-indira-gandhi-scholarship-for-single-girl-child</a></li>
                                    <li><a href="/allcourses/postgraduatemeritscholarshipforuniversityrankholders">post-graduate-merit-scholarship-for-university-rank-holders</a></li>
                                    <li><a href="/subcourses/government"><u>view more</u></a></li>
                                    

                                </ul>
                           

                           
                            </li>
                        </ul>
                        </li>
                        <% if(!userdata){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Register</a></li>
                        <% }else{ %>
                            <li><a href="/myprofile"><%= userdata.username %></a>
                                <ul>
                                    <li> <a href="/myprofile/personal-info">My Profile</a></li>
                                    <li> <a href="/myprofile/matched-scholarships">Matched Scholarships</a></li>
                                    <li> <a href="/myprofile/application-status">Applied Scholarships</a></li>
                                    <li> <a href="/myprofile/awardees-scholarships">Awarded Scholarships</a></li>
                                    <li> <a href="/myprofile/my-favorites">My Favorites</a></li>
                                    <li> <a href="/myprofile/awards">Awards &amp; Achievements</a></li>
                                    <li> <a href="/myprofile/questions-and-answers">Questions &amp; Answers</a></li>
                                    <li> <a href="/logout">Log Out</a></li>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

  <a href="/allcourses">All courses</a>
  <a href="/compose">compose</a>
  <a href="/register">register</a>
</body>
</html>