<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="POST">
        <label for="Username">Username</label>
        <input type="text" name="username" id=""><br>
        <label for="">password</label>
        <input type="password" name="password" id=""><br>
        <input type="submit" value="Login">
        <br><br>
        <a href="/google">sign-in-via-google</a>
    </form>
</body>
</html>